
<form class="formulario" action="/login" method="POST">
  <h1>Login</h1>
  <label>Usuario: <input type="text" name="username" /></label>
  <label>Contraseña: <input type="password" name="password" /></label>
    <p class="alert"><%=alert %></p>
  <input type="submit" value="Entrar" />
</form>

<a href="/register">register</a>

<%- include("layouts/main.ejs") %>
